.navbar{
    display: flex;
    justify-content: space-around;
    max-width: 400px;
    list-style: none;
    text-decoration: none;
    font-family: Verdana, Geneva, Tahoma, sans-serif;

}
a{
    text-decoration: none;
    color: black;
    padding: 5px 10px;
    border-radius: 10px;

}
a:hover{
    background-color: lightblue;
}